body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--main-background-color) !important;
}

.app {
  /* max-width: var(--page-max-width); */
  margin: 0 auto;
}

.main-section-container {
  max-width: var(--page-max-width);
  margin: 0 auto;
  border: 1px solid #3f4b5a;
  border-radius: 5px;
}